<div class="row">
    <div class="col-xs-12 col-sm-6">
        <table id="general-table-tcp" class="display table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Port</th>
                    <th>IP</th>
                    <th>Protocol</th>
                </tr>
            </thead>
<!--            <tbody>-->
<!--                <tr ng-repeat="x in openedTCP">-->
<!--                    <td>{{x.port}}</td>-->
<!--                    <td>{{x.ip}}</td>-->
<!--                    <td>{{x.protocol}}</td>-->
<!--                </tr>-->
<!--            </tbody>-->
        </table>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table id="general-table-udp" class="display table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Port</th>
                    <th>IP</th>
                    <th>Protocol</th>
                </tr>
            </thead>
<!--            <tbody>-->
<!--                <tr ng-repeat="x in openedUDP">-->
<!--                    <td>{{x.port}}</td>-->
<!--                    <td>{{x.ip}}</td>-->
<!--                    <td>{{x.protocol}}</td>-->
<!--                </tr>-->
<!--            </tbody>-->
        </table>
    </div>
</div>








