<div class="row" id="cont_inputs_sett_1">
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="ta_server_config">Server</label>
            <textarea class="form-control" rows="24" id="ta_server_config" ng-model="serverTA"></textarea>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="ta_client_config">Client</label>
            <textarea class="form-control" rows="24" id="ta_client_config" ng-model="clientTA"></textarea>
        </div>
    </div>
</div>
